In [3]:
import numpy as np
import pandas as pd
import plotly.express as plt
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('./data/data.csv', parse_dates=['release_date'])

In [4]:
data.drop(columns=['id'], inplace=True)

,title,overview,popularity,release_date,vote_average,vote_count
0,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931
...,...,...,...,...,...,...
8826,Alone in the Dark,Edward Carnby is a private investigator specia...,12.499,2005-01-28,3.228,550
8827,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",19.133,2000-05-12,3.221,761
8828,House of the Dead,"Set on an island off the coast, a techno rave ...",10.795,2003-04-11,3.100,359
8829,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",38.646,2009-03-12,2.891,1925
8830,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,13.853,2010-02-27,2.106,306